@import url('https://fonts.googleapis.com/css?family=Sofia');

html {
    font-family: Sofia, cursive;
    background-color: lightblue;
}
h1 {
    font-family: Sofia, cursive;
    text-align: center;
}
.main {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header {
    display: flex;
}
.screen {
    display: flex;
    width: 90%;
    font-size: 30px;
    align-items: center;
    justify-content: end;
    border: 2px solid black;
    background-color: lightblue;
    height: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-right: none;
}

.screen-wrap {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-items: center;
    margin-left: -10px;
}

.up-screen {
    margin-top: 20px;
    border-bottom: none;
    font-size: 20px;
    justify-content: end;
}

.low-screen {
    margin-top: none;
    border-top: none;
}

.op-screen {
    display: flex;
    width: 10%;
    font-size: 30px;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    background-color: lightblue;
    height: 80px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 20px;
    border-left: none;
    margin-left: -27px;
    margin-right: 15px;
}

.calculator {
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
    width: 600px;
    height: 600px;
    background-color: lightseagreen;
    gap: 15px;
    border-radius: 10px;
}

.buttons {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: grid;
    justify-content: flex-start;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    gap: 10px;
    margin-left:15px;
    margin-right: 15px;
    height: 100%;
    margin-bottom: 15px;
}

.btn {
    display: flex;
    font-size: 30px;
    font-weight: 300;
    background-color: lightgray;
    border: 2px solid black;
    justify-content: center;
    align-items: center;
}

.operator {
    background-color: rgba(161, 218, 171, 0.671);
}

.delbtn {
    background-color: rgb(235, 149, 199);
    grid-column: span 2;
}

.clearbtn {
    background-color: rgb(158, 38, 38);
    grid-column: span 2;
}

.btn:hover {
    opacity: 0.8;
    transform: scale(1.1);
}

.equalbtn {
    background-color:tomato;
    grid-column: span 2;
}